@model IEnumerable<WebScraper.Models.stock>


@{

    ViewBag.Title = "Scrape";
}

<h2>Scrape</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       

        
                <input type="submit" value="Scrape" class="btn btn-default" />
            
        
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}